<section id="about" class="about section">
    <div class="container about__container">
        <div class="about__img">
            <img src="/assets/img/jayvee.webp" alt="My photo">
        </div>
        <div class="about__content">
            <h1 class="about__intro">Hi, my name is {{ site.author }}.</h1>
            <p>I'm a <strong>front-end developer</strong> based in Manila, Philippines.</p>
            <p>I've been building websites and apps since 2013 and had the opportunity to work with several <a class="has-line" href="{{ site.links.linkedin }}" target="_blank" rel="noreferrer noopener">companies and digital agencies</a>.</p>
            <section class="about__skills">
                <h2 class="section-title">Skills</h2>
                <ul class="about__skills-list">
                    {% assign skills = site.data.skills | sort: 'name' %}
                    {% for skill in skills %}
                        <li>
                            <img src="/assets/img/logo-{{ skill.name | downcase | remove: '.' }}.webp" alt="{{ skill.name }} logo">
                            {{ skill.name }}
                        </li>
                    {% endfor %}
                </ul>
            </section>
        </div>
    </div>
</section>
