<section id="contact" class="contact section">
    <div class="container">
        <div class="section-title-container">
            <h2 class="section-title">Contact</h2>
            <p class="section-subtitle">Get in touch & connect with me</p>
        </div>
        <ul class="contact__list">
            <li>
                <a href="mailto:{{ site.email }}" aria-label="Email">
                    <i class="las la-envelope"></i>
                </a>
            </li>
            <li>
                <a href="{{ site.links.linkedin }}" target="_blank" rel="noreferrer noopener" aria-label="Linkedin">
                    <i class="lab la-linkedin-in"></i>
                </a>
            </li>
            <li>
                <a href="{{ site.links.github }}" target="_blank" rel="noreferrer noopener" aria-label="Github">
                    <i class="lab la-github"></i>
                </a>
            </li>
            <li>
                <a href="{{ site.links.codepen }}" target="_blank" rel="noreferrer noopener" aria-label="Codepen">
                    <i class="lab la-codepen"></i>
                </a>
            </li>
        </ul>
    </div>
</section>
