<section id="portfolio" class="portfolio section">
    <div class="container">
        <div class="section-title-container">
            <h2 class="section-title">Portfolio</h2>
            <p class="section-subtitle">Personal projects I've built</p>
        </div>
        {% for project in site.data.projects %}
            <div class="portfolio__item">
                <div class="portfolio__item-thumb">
                    <img class="lazy" src="/assets/img/{{ project.thumbnail }}" width="600" height="600" alt="" loading="lazy">
                </div>
                <div class="portfolio__item-details">
                    <h3 class="portfolio__item-title">
                        <a href="{{ project.url }}" target="_blank" rel="noreferrer noopener">{{ project.name }}</a>
                    </h3>
                    <p>{{ project.description }}</p>
                    <ul class="portfolio__item-tech">
                        {% for tech in project.tech %}
                            <li>{{ tech }}</li>
                        {% endfor %}
                    </ul>
                    <ul class="portfolio__item-links">
                        {% if project.repo != "" %}
                            <li>
                                <a href="{{ project.repo }}" target="_blank" rel="noreferrer noopener" aria-label="Browse repository">
                                    <i class="las la-code-branch"></i>
                                </a>
                            </li>
                        {% endif %}
                        <li>
                            <a href="{{ project.url }}" target="_blank" rel="noreferrer noopener" aria-label="View project">
                                <i class="las la-external-link-alt"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        {% endfor %}
        <div class="portfolio__more">
            <a href="{{ site.links.github }}" target="_blank" rel="noreferrer noopener">
                More projects on Github
                <i class="las la-long-arrow-alt-right"></i>
            </a>
        </div>
    </div>
</section>
