<nav class="navbar">
    <a class="navbar__logo cursor-animate" href="/">
        <img class="lazy invert" src="/assets/img/logo.svg" width="44" height="47" alt="Home" loading="lazy">
    </a>
    <button class="navbar__toggle las" aria-label="Toggle menu"></button>
    <ul class="navbar__menu">
        <li><a class="cursor-animate" href="#about" data-scroll>About</a></li>
        <li><a class="cursor-animate" href="#portfolio" data-scroll>Portfolio</a></li>
        <li><a class="cursor-animate" href="#contact" data-scroll>Contact</a></li>
    </ul>
</nav>
