body {
    background-color: #0c0c0c;
    font-family: "Fira Code", "Cascadia Code", "SFMono-Regular", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    color: #fff;
    padding: 15px;
}

.blink {
    animation: blink 1s linear infinite;
}

 @keyframes blink {
     0% {
         opacity: 1;
     }

     50% {
         opacity: 0;
     }

     100% {
         opacity: 1;
     }
 }