<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="{{ site.description }}">

        <title>{{ site.title }}</title>

        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Work+Sans:wght@300;400&display=swap">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/line-awesome/1.3.0/line-awesome/css/line-awesome.min.css" integrity="sha512-vebUliqxrVkBy3gucMhClmyQP9On/HAWQdKDXRaAlb/FKuTbxkjPKUyqVOxAcGwFDka79eTF+YXwfke1h3/wfg==" crossorigin="anonymous">
        <link rel="stylesheet" href="/assets/css/styles.css">
        <link rel="canonical" href="{{ site.url }}">
    </head>
    <body data-theme="0">
        <main>
            {% include navbar.html %}

            {{ content }}

            {% include footer.html %}
        </main>
    </body>
</html>
